@tailwind base;
@tailwind components;
@tailwind utilities;

/* 전체 폰트 설정 */
body {
    font-family: Black Han Sans,sans-serif;
}

/* 나머지 스타일 */
/* .bg-primary {
    @apply bg-white dark:bg-slate-800
} */

/* .btn-project {
    @apply inline-flex text-black dark:text-white border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg
} */

.project-card {
    @apply flex flex-col m-3 rounded-xl w-full
            transition duration-300 transform border border-gray-300
            hover:scale-105
            hover:shadow-lg
            dark:border-gray-200/50
            dark:hover:shadow-gray-400/40
            hover:text-blue-600
}

.project-btn {
  @apply inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg
}

h1, h2, h3, h4, h5, h6 {
    @apply text-slate-900 dark:text-white
}

footer {
    @apply text-gray-600 dark:text-white
    bg-gray-100/80 dark:bg-slate-600/20
}

a {
    @apply text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-50
}

p {
    @apply text-slate-500 dark:text-slate-400
}

.wrapper {
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr); 
}

.grid-containers {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
}

@media screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr); 
  }

  .grid-containers {
    width: 100%;
    grid-template-columns: repeat(4, 1fr); 
  }

  .backMobile-container {
    flex-direction: column;
  }
}

.backMobile-container {
  display: flex;
}